h1 {

    color:rgb(34, 34, 34);
    text-align: center;
    font-family: 'Roboto Mono', monospace;

}

body {

    background-color: rgb(34, 34, 34);

}

* {

    Margin: 0;
    padding: 0;
    box-sizing: border-box;


}

header {

background-color: rgb(224, 224, 224);
padding: 20px;

}

.nametag {

    background-color: rgb(224, 224, 224);
    width: 750px;
    height: 200px;
    padding:30px;
    margin: 15px auto;
}
